/data
**/thoughtlog.md
.DS_Store

**/node_modules
**/.angular/cache
**/.vscode
**/.idea
**/*.log

**/target/
**/build/
**/.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/
**/.gradle
**/.idea
**/*.iws
**/*.iml
**/*.ipr

**/.vscode/*

!./bonfire-v1-app/src/environments

