<div class="w-full h-screen bg-cover bg-center bg-no-repeat relative" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('/assets/images/bonfire_homepage_edited.png')">
      <header class="w-full py-4 absolute top-8 z-10">
          <div class="flex justify-between items-center max-w-7xl mx-auto px-8">
            <div class="flex items-center space-x-3">
              <img src="assets/images/iconbaby.png" class="h-10 w-auto">
              <h1 class="text-3xl font-bold text-white leading-none tracking-tighter">BONFIRE</h1>
            </div>
            
            <nav>
              <ul class="flex space-x-4 items-center">
                <!-- <li>
                  <a routerLink="/login" class="px-5 py-2 text-white hover:text-gray-300 transition-colors duration-300">Login</a>
                </li> -->
                <li *ngIf="!isUserLog">
                  <a routerLink="/login" 
                  class="px-5 py-2 bg-white text-gray-900 rounded-full font-medium hover:bg-gray-200 transition-colors duration-300 shadow-lg">Login</a>
                </li>

                <li *ngIf="isUserLog">
                  <button (click)="deleteToken()" 
                  class="px-5 py-2 bg-white text-gray-900 rounded-full font-medium hover:bg-gray-200 transition-colors duration-300 shadow-lg cursor-pointer">Log out</button>
                </li>
              </ul>
            </nav>
          </div>
        </header>
  
    <div class="flex items-center justify-center h-full">
      <div class="text-center px-10 py-10 -mt-5">
        <div *ngIf="!isUserLog">
          <h1 class="text-6xl font-bold text-white mb-2 leading-none tracking-tight">EXPLORE YOUR WORLD</h1>
          <h1 class="text-6xl font-bold text-white mb-2 leading-none tracking-tight">WITH BONFIRE</h1>
          <p class="text-2xl text-gray-200 font-light leading-tight tracking-wider">THE GREATEST INTERGALATIC* TRAVEL LOGGING APP</p>
          <a routerLink="/register" 
          class="mt-9 inline-flex items-center px-6 py-3 
                  bg-gradient-to-r from-orange-500/90 to-amber-500/100
                  text-white font-medium 
                  rounded-full 
                  border-1 border-orange-500/20
                  shadow-[inset_0px_-6px_5px_rgba(100,100,100,.5),0px_2px_20px_rgba(255,153,0,1)] scale-90">
          Get started
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
          </svg>
          </a>
        </div>

        <div *ngIf="isUserLog">
          <h1 class="text-6xl font-bold text-white mb-2 leading-none tracking-tight">WELCOME BACK,</h1>
          <h1 class="text-6xl font-bold text-white mb-2 leading-none tracking-tight">{{username}}</h1>
          <p class="text-2xl text-gray-200 font-light leading-tight tracking-wider">CONTINUE YOUR TRAVEL JOURNEY</p>
          <a routerLink="/map"
          class="mt-9 inline-flex items-center px-6 py-3 
                  bg-gradient-to-r from-orange-500/90 to-amber-500/100
                  text-white font-medium 
                  rounded-full 
                  border-1 border-orange-500/20
                  shadow-[inset_0px_-6px_5px_rgba(100,100,100,.5),0px_2px_20px_rgba(255,153,0,1)] scale-90">
          Resume journey
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
          </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="bg-black min-h-[300px]">
  </div> -->